/*
BASE
*/

html, body {
  max-width: 100%;
  min-height: 600px;
  min-width: 1070px;
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

div, form, img, h1, code, pre {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

p, a {
  font-family: lato;
}


/*
LAYOUT
*/

.page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*x`xx`*/
.thirdHeight {
  height: 33%;
}

.fourFifthHeight {
  height: 80%;
}

.oneFifthHeight {
  height: 20%;
}

.oneFifthWidth {
  width: 20%;
}

.oneQuarterHeight {
  height: 25%;
}

.threeQuarterHeight {
  height: 75%;
}

/*
Flex styles
*/

.flexContainer {
  display: -webkit-flex;
  display: flex;
}

.flexCenterVertical {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}

.flexCenterHorizontal {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flexOneofTwo {
  width: 50%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexOneofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

/*
Reused background
*/

.background-black {
  background-color: black;
}

.background-white {
  background-color: white;
}
