
html, body {
  background-color: #222222;
  width: 100%;
  height: 100%;
  min-height: 600px
  margin: 0;
  padding: 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

body, #app, #main, #open {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav {
  margin: 0;
  padding: 0;
}

.flexContainer {
  margin: 0;
  padding: 0;
/*  height: 100%;*/
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


/*
Center & Onload Animation
*/

#title {
  position: absolute;
  top: 20px;
  color: red;
  width: 400px;
  left: 50%;
  transform: translateX(-200px);
}

#center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-300px);

  color: white;
  text-align: center;
  height: 300px;
  width: 600px;
}

#circle {
  height: 300px;
  width: 300px;
  filter: invert(20%);
}

#circle.onload {
  animation-name: flash;
  animation-duration: 3.2s;
  animation-fill-mode:forwards, none;
  animation-timing-function: ease-out;
}

@keyframes flash {
  0%   {filter: invert(20%);}
  60%  {filter: invert(100%);}
  100% {filter: invert(20%);}
}

#name {
  position:absolute;
  top: 60%;
  margin: 0 auto;
  width: 100%;
  font-size: 3em;
}

#welcome {
  position:absolute;
  top: 50%;
  margin: 0 auto;
  width: 100%;
}

#welcome.onload {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode:forwards, none;
  animation-timing-function: ease-in;
  animation-delay: 6s;
}

@keyframes fadeOut {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

#nav {
  position: absolute;
  width: 100%;
  bottom: 10px;
/*  bottom: -100;*/
  color:red;
  position: absolute;
  text-align: center;
}

#nav text {
  padding: 0 2% 0 2%;
}

#nav text:hover {
  cursor: pointer;
}

/*
Pages
*/

.page {
  height:100%;
  width: 100%;
}

#about {
}


#work {

}

#scroll {
  position: relative;
  top: 40%;
  height: 400px;
  width: 100%;
  background-color: orange;
}

.pic {
  
}

#blog {
}



#china {
}


#contact {
}


