

body {
  background-color: none;
  margin: 0;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


#blue {
  background-color: #0077FF;
  width: 100%;
  height: 100%;
}

#red {
  background-color: #DF3333;
  width: 100%;
  height: 100%;
}

#name {
  font-family: Permanent Marker;
  font-size: .65em;
  padding: 2%;
  border: 3px solid grey;
  border-radius: 5px;
  background-color: white;
  margin: 2px;
  width: 70%
  color: white;
  z-index: 10;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#socials {
  width: 50%;
  height: 10%;
  padding: 1%;
  z-index: 10;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}


.social {
  width: 10%;
  margin: 0 4% 0 4%;
}

.social:hover {
  cursor: pointer;
}


#facebook {
/*  width: 10%;
  height: 10%;
  margin: 0 5px 0 5px;
  padding: 1px;
  background-color: yellow;
  background-size: cover;*/
  /*background: url('../images/facebook-128.png');*/
}


