

body {
  background-color: none;
  margin: 0;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}



#blue {
  background-color: #0077FF;
  width: 100%;
  height: 100%;
}

#red {
  background-color: #DF3333;
  width: 100%;
  height: 100%;
}

#name {
  width: 30%
  color: green;
  background: url('../images/search.png');
  z-index: 10;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}


