

body {
  background-color: none;
  margin: 0;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


#blue {
  background-color: #0077FF;
  width: 100%;
  height: 100%;
}

#red {
  background-color: #DF3333;
  width: 100%;
  height: 100%;
}

#name {
  font-family: Permanent Marker;
  font-size: 1em;
  padding: 2%;
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
  margin: 2px;
  width: 70%
  color: white;
  z-index: 10;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#socials {
  width: 50%;
  height: 15%;
  padding: 1%;
  z-index: 10;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}


.social {
  width: 15%;
  margin: 0 6% 0 6%;
}

.social:hover {
  cursor: pointer;
}





