
/*base
layout/grids/major containers
modules - specific interfaces 90% of site

state - impacts modules and layout-someVisualAttribute
theme*/


/*use classes don't use ids*/

/*
BASE
*/

html, body {
  /*width: 100%;*/
  min-height: 600px
  min-width: 800px;
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

div, form, img {
  margin: 0
  padding: 0;
}

a {
  text-decoration: none;
}

p, a {
  font-family: lato;
}


/*
LAYOUT
*/

.windowSize {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
}

.flexCenterVertical {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}

.flexCenterHorizontal {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flexOneofTwo {
  width: 50%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexTwoofTWo {
  width: 50%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexOneofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexTwoofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexThreeofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.center-top-text {
  position: absolute;
  top: 20px;
  width: 400px;
  left: 50%;
  transform: translateX(-200px);
}

.centerBottom {
  position: absolute;
  width: 100%;
  bottom: 25px;
/*  bottom: -100;*/
  text-align: center;
}

.twoThirdHeight {
  height: 66%;
}

.thirdHeight {
  height: 33%;
}

.fullHeight {
  height: 100%;
}

.fourFifthHeight {
  height: 80%;
}

.oneFifthHeight {
  height: 20%;
}

.oneFifthWidth {
  width: 20%;
}

.oneQuarterHeight {
  height: 25%;
}

.threeQuarterHeight {
  height: 75%;
}


/*
Module: Open & Onload Animation
*/

/*
Title and Nav
*/

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/mapPanels.jpg");
}

/*.bottom-margin {
  padding: 0 0 15px 0;
}*/

.openText {
  color: white;
  text-align: right;
  padding: 0px 20px;
}

.name {
  font-size: 3.5em;
}

.nav text {
  color: white;
  font-weight: 900;
  padding: 0 2% 0 2%;
  z-index: 100;
}

.nav text:hover {
  cursor: pointer;
}

.blackBackground {
  background-color: black;
}



/*
Module: About
*/

.noMargin {
  margin: 0 20px;
}

.khaki {
  color: #FAFAD2;
}

.rightAlign {
  text-align: right;
}

/*.about {
  background: repeating-linear-gradient(
    45deg, 
    lightgrey, 
    lightgrey 20px, 
    white 20px, 
    white 22px
  )
}


.aboutBanner {
  height: 30%;
  background-color: white;
}*/


/*.relative-center {
  position: relative;
  margin: 0 auto;
  vertical-align: center;
  bottom: 50%;
}*/
.jonFace {
/*  border: 3px solid #FAFAD2;*/
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
}

.mapChair {
  box-shadow: 4px 4px 7px #FAFAD2;
  width: 250px;
  filter: sepia(20%);
}


.aboutP {
  vertical-align: left;
  padding: 0 125px 0 125px;
  font-weight: 750;
}

/*
Module: Work
*/
.lessHeight {
  padding: 10px 0 0 0;
  height: 80%;
}

.textPad {
  padding: 0 15%;
}



/*
Module: Tech
*/



.scroll {
  height: 58px;
  width: 100%;
  background-color: white;
  overflow-x: scroll;
  overflow-y:hidden;
}

.pic {
  height: 100%;
  margin: 0 25px 6px 25px;
}

.lowerPadding {
  height: 42px;
}

/*#blog {
}*/


/*
Module: China
*/


.whiteBackground {
  background-color: white;
}

.blackBackground {
  background-color: black;
}

.width300 {
  width: 300px;
}

.farmers {
  box-shadow: 4px 4px 7px #FAFAD2;
  width: 300px;
  -webkit-filter: grayscale(100%);
  filter: sepia(50%);
}

/*
Module: Contact
*/

.white {
  color: white;
}

.scratchBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/mapScratch.jpg");
  background-position: center; 
}

.contactPic {
  margin: 0 auto;
  width: 300px;
}

.social {
  margin: 0 20px 0 20px;
}

.social:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
}

/*
Module: Compass
*/

.bottomLeft {
  position: absolute;
  top: 70%;
  left: 5%;
}


/*#compass {
  position: fixed;
  top: 30px;
  left: 30px;
}*/

