
/*base
layout/grids/major containers
modules - specific interfaces 90% of site

state - impacts modules and layout-someVisualAttribute
theme*/


/*use classes don't use ids*/

/*
BASE
*/

html, body {
  width: 100%;
  min-height: 600px
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

div, form, img {
  margin: 0
  padding: 0;
}

/*
LAYOUT
*/

.windowSize {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
}

.flexCenterVertical {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}

.flexCenterHorizontal {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flexOneofTwo {
  width: 50%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexTwoofTWo {
  width: 50%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexOneofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexTwoofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flexThreeofThree {
  width: 33.3%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.center-top-text {
  position: absolute;
  top: 20px;
  width: 400px;
  left: 50%;
  transform: translateX(-200px);
}

.center-bottom-text {
  position: relative;
  width: 100%;
  bottom: 10px;
/*  bottom: -100;*/
  position: absolute;
  text-align: center;
}

.twoThirdHeight {
  height: 66%;
}

.thirdHeight {
  height: 33%;
}

/*
Module: Open & Onload Animation
*/

/*
Title and Nav
*/

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/mapPanels.jpg");
}

/*.bottom-margin {
  padding: 0 0 15px 0;
}*/

.openText {
  color: white;
  text-align: right;
  padding: 0px 20px;
}

.name {
  font-size: 3.5em;
}

.nav text {
  color: white;
  font-weight: 900;
  padding: 0 2% 0 2%;
}

.nav text:hover {
  cursor: pointer;
}

.blackBackground {
  background-color: black;
}


/*
Module: About
*/

.about {
  background: repeating-linear-gradient(
    45deg, 
    lightgrey, 
    lightgrey 20px, 
    white 20px, 
    white 22px
  )
}


.aboutBanner {
  height: 30%;
  background-color: white;
}

.aboutPic {
  width: 100%;
  height: 70%;
}

/*.relative-center {
  position: relative;
  margin: 0 auto;
  vertical-align: center;
  bottom: 50%;
}*/

.mapChair {
  box-shadow: 10px 10px 5px #888888;
  width: 250px;
}

.jonFace {
/*  border: 3px solid white;*/
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
}

.aboutP {
  vertical-align: left;
  padding: 0 125px 0 125px;
  font-weight: 750;
}

/*
Module: Work
*/





/*
Module: Tech
*/



.scroll {
  position: relative;
  top: 50%;
  transform: translateY(-75px);
  height: 150px;
  width: 100%;
  background-color: white;
  overflow-x: scroll;
  overflow-y:hidden;
}

.pic {
  height: 100%;
  margin: 0 25px;
}

/*#blog {
}*/


/*
Module: China
*/

#chinaOne {
  min-width: 300px;
  background-color: white;
/*  width: 50%;*/
}

#chinaTwo {
  min-width: 300px;
  background-color: black;
}

#chinaP {
  width: 300px;
}

#jonChineseFarmers {
  width: 300px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
Module: Contact
*/

.contactPic {
  margin: 0 auto;
  width: 300px;
}

.social {
  margin: 0 20px 0 20px;
}

.social:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
}

